<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>greetings-page</title>
    <link rel="stylesheet" href="../style.css">

</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Registration Numbers</h1>
        </div>
        <div class="registrations">
            <form action="/reg_number" method="POST">
                <label for="registration" class="reg_label">Enter Registration Number:</label>
                <input type="text" id="registration" name="regNumber" value="{{regNumber}}">
                 <div class="towns">
        <label class="Johannesburg">
          <input type="radio" name="chooseTown" class="chooseTownRadio" value="1">
          <span class="label-body">Johannesburg</span>
        </label>
        <label class="English">
          <input type="radio" name="chooseTown" class="chooseTownRadio" value="2">
          <span class="label-body">Mbombela</span>
        </label>
        <label class="Sotho">
          <input type="radio" name="chooseTown" class="chooseTownRadio" value="3">
          <span class="label-body">CapeTown</span>
        </label>
      </div>

        <div>
            <form action="/reg_number" method="GET">
                <button class="addButton" type="submit">Add</button>

                <div class="reg_list">
                  <ul id="registrationList">
        {{#each getRegistrations}}
        <li>{{this.reg_number}}</li>
        {{/each}}
    </ul>
                </div>
            </form>

        </div>

    </div>
</body>

</html>