<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>greetings-page</title>
  <link rel="stylesheet" href="../style.css">

</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Registration Numbers</h1>
        </div>
        <div class="registrations">
        <label for="registration">Enter Registration Number:</label>
        <input type="text" id="registration" name="reg_number">
        <button type="submit">Add</button>
        </div>
        <div class="reg_list">
            <ul id="registrationList">
                
            </ul>
        </div>
    </div>
</body>
</html>