<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registrations-webapp</title>
    <link rel="stylesheet" href="../style.css">

</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Registration Numbers</h1>
        </div>
        <div class="registrations">
            <form action="/reg_number" method="POST">
                <label for="registration" class="reg_label">Enter Registration Number:</label>
                <input type="text" id="registration" name="regNumber" value="{{regNumber}}">
                 <div class="add">
            <form action="/reg_number" method="GET">
                <button class="addButton" type="submit">Add</button>

                <div class="reg_list">
                  <ul id="registrationList">
        {{#each getRegistrations}}
        <li>{{this.reg_number}}</li>
        {{/each}}
    </ul>
                </div>
            </form>

        </div>

               </form> 

        <div class="pickTown" >
<form action="/reg_by_town" method="GET">
         <div class="towns">
        <label class="Johannesburg">
          <input type="radio" name="chooseTown" class="chooseTownRadio" value="Paarl">
          <span class="label-body">Paarl</span>
        </label>
        <label class="English">
          <input type="radio" name="chooseTown" class="chooseTownRadio" value="Bellville">
          <span class="label-body">Bellville</span>
        </label>
        <label class="CapeTown">
          <input type="radio" name="chooseTown" class="chooseTownRadio" value="Cape Town">
          <span class="label-body">Cape Town</span>
        </label>
        </div>
        
        <div class="show">
          <button class="showButton" type="submit">Show</button>
          <div class="reg_list">
                  <ul class="registrationList">
        {{#each registrations}}
        <li>{{this.reg_number}}</li>
        {{/each}}
    </ul>
        </div>
        </div>
        </form>
 </div>
        <div class="key">
        <h3>reg Code key:</h3>
          <p>CT - CA</p>
          <p> Paarl - CB</p>
          <p>Bellville - CY</p>
          
       </div>
    </div>
</body>

</html>
