*{
    box-sizing: border-box;
}

body,html{
    width: 100%;
    font-family: Arial, sans-serif;
    padding:1%;
    margin: 1%;

}

.container{
    width:90%;
    height: 90vh;
    background-color:beige;
    color: cadetblue;
    margin-inline:5%; 
    border: 2px solid beige;
    border-radius: 10px;
}

h1{
    text-align: center;
    padding: 20px;
    color:navy;
}

input[type="text"] {
    padding: 5px;
    border: 1px solid orangered;
    border-radius: 4px;
}
.reg_label{
    margin-left: 25%;
}
button {
    padding: 5px 10px;
    background-color:beige;
    color:navy;
    border-radius: 4px;
    margin-inline: 50%;
    margin-top: 5%;
    margin-bottom: 0%;
    padding:1%;
}

ul {
    list-style: none;
    padding: 10px;
    border: 1px  black;
    border-radius: 2px;
    width: 25%;
    margin-inline: 40%;
    
}
.towns {
    display: inline-flex;
    font-weight: 900;
    color: cadetblue;
    width: 60%;
    margin-inline:25%;
    margin-bottom: 5%;
    margin-top: 5%;
  }

li {
    padding: 5px;
    border: 1px solid black;
    border-radius: 4px;
    width: 60%;
    margin-inline: 20%;
    margin-top: 1px;
}
.registrations{
  border: 2px solid navajowhite;
  width: 70%;
  margin-inline: 15%;
  border-radius: 6px;
  background-color: antiquewhite;
  padding: 1%;
}


/********media queries*******/

/* Small screens */
@media only screen and (max-width: 34em) {
    body{
        align-items: center;
    }
    .container {
      width: 85%;
      height: 50vh;
      
    }
  
    
  }
  
  /* Medium screens */
  @media only screen and (min-width: 35em) {
    .container{
      max-width: 80%;
    
    }
  
  }
  
  /* Large screens */
  @media only screen and (min-width: 55em) {
    .container{
      max-width: 85%;
     
    }
  }